@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;

  font-family: 'Inter', sans-serif;
  color: #212529;
}

.card {
  height: 100%;
  background-color: #dee2e6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.card h1 {
  font-size: 33px;
  margin-bottom: 10px;
}

.card p {
  font-size: 19px;
  margin-bottom: 40px;
}

.card ul {
  display: flex;
  gap: 1rem;

  font-size: 25px;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.75rem;
  border-radius: 50%;

  background-color: #212529;
  color: #dee2e6;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(270deg, #a24bcf, #4b79cf, #4bc5cf);
    background-size: 600% 600%;
    -webkit-animation: animation 30s ease infinite;
    -moz-animation: animation 30s ease infinite;
    animation: animation 30s ease infinite;
  }

  .card {
    height: auto;
    padding: 3rem;
    border-radius: 10px;
    animation: 0.5s ease-out 0s 1 slideDown;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card a {
    transition: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .card a:hover {
    background-color: #495057;
  }

  /* https://www.gradient-animator.com/ */
  @-webkit-keyframes animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
  @keyframes slideDown {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
